.see-homa-container {
    /* margin: 20px; */
    max-height: 70vh; /* Ajusta esto según tus necesidades */
    overflow-y: auto; /* Aparecerá una barra de desplazamiento si es necesario */
}

.see-homa-table {
    width: 100%;
    border-collapse: collapse; /* Elimina el espacio entre las celdas */
}

.see-homa-table th, .see-homa-table td {
    border: 1px solid #ddd; /* Líneas de la tabla */
    padding: 8px;
    text-align: left;
}

.see-homa-table th {
    background-color: #f4f4f4; /* Color de fondo para los encabezados */
}

.see-homa-table td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

/* Estilos para los botones */
.see-homa-table .edit-btn {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30% !important;
}

.see-homa-table .delete-btn {
    background-color: #f44336; /* Rojo */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30% !important;
}

.see-homa-table .edit-btn:hover {
    background-color: #45a049;
}

.see-homa-table .delete-btn:hover {
    background-color: #d32f2f;
}

/* Estilos para la paginación */
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    background-color: #ddd;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin: 0 2px;
    cursor: pointer;
    width: 10% !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.pagination button:hover {
    background-color: #bbb;
}

.pagination button.active {
    background-color: #6c757d;
    color: white;
}

.see-homa-container::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
  }
  
  .see-homa-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track de la barra de desplazamiento */
    border-radius: 4px; /* Bordes redondeados para el track */
  }
  
  .see-homa-container::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb (la parte que se desplaza) */
    border-radius: 4px; /* Bordes redondeados para el thumb */
  }
  
  .see-homa-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del thumb al pasar el mouse */
  }
  
  .modal-confirmation-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-content: flex-start; */
    justify-content: flex-end;
    margin-top: 10px;
  }

  .modal-confirmation-button {
    overflow-y: auto;
    overflow-x: auto;
    max-height: 40%;
    background: #888;
    height: auto;
    z-index: 1001;
  }

  .modal-confirmation-button-submit {
   
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }